@import "tailwindcss";

/* @theme {
  --color-primary-300: #F24F63;
  --color-primary-400: #F13950;
  --color-primary-500: #EF233C;
  --color-primary-600: #D72036;
  --color-primary-700: #BF1C30;
  --color-primary-800: #A71921;
  --color-primary-900: #8F1524;
  
  --color-secondary-300: #373842;
  --color-secondary-400: #4D4E57;
  --color-secondary-500: #21222D;
  --color-secondary-600: #1E1F29;
  --color-secondary-700: #1A1B24;
  --color-secondary-800: #17181F;
  --color-secondary-900: #14141B;
}
 */